In [249]:
# Dependencies
import pandas as pd

In [250]:
# Load files
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [251]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [252]:
# Combine the data into a single dataframe
data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [253]:
# Calculate the total number of schools
total_number_schools = len(school_data["School ID"].unique())
total_number_schools

15

In [254]:
# Calculate the total number of students
total_number_students = len(student_data["Student ID"].unique())
total_number_students

39170

In [255]:
# Combined budget of all schools
total_budget = school_data["budget"].sum()
total_budget

24649428

In [256]:
# Calculate the average Reading score
reading_score_avg = student_data["reading_score"].mean()
reading_score_avg

81.87784018381414

In [257]:
# Calculate the average Math score
math_score_avg = student_data["math_score"].mean()
math_score_avg

78.98537145774827

In [258]:
# Calculate the number and percent passing in reading (assuming a score <69 is an F)
number_passing_reading = len(student_data.loc[student_data['reading_score'] >= 70 , :])
number_passing_reading

percent_passing_reading = (number_passing_reading / total_number_students)*100
percent_passing_reading

85.80546336482001

In [259]:
# Calculate the number and percent passing in math (assuming a score <69 is an F)
number_passing_math = len(student_data.loc[student_data['math_score'] >= 70 , :])
number_passing_math

percent_passing_math = (number_passing_math / total_number_students)*100
percent_passing_math

74.9808526933878

In [260]:
# Calculate the overall passing rate i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (percent_passing_reading + percent_passing_math)/2
overall_passing_rate

80.39315802910392

In [261]:
# Create a high level snapshot (in table form) of the district's key metrics
district_summary = [{
        "Total Schools": total_number_schools, 
        "Total Number of Students": total_number_students, 
        "Total Budget": total_budget, 
        "Average Reading Score": round(reading_score_avg),
        "% Passing Reading": percent_passing_reading,
        "Average Math Score": round(math_score_avg),
        "% Passing Math": percent_passing_math,
        "% Overall Passing Rate": overall_passing_rate}]
district_summary_table = pd.DataFrame(district_summary)       

# Format Table
district_summary_table["Total Number of Students"] = district_summary_table["Total Number of Students"].astype(float).map("{:,}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].astype(float).map("{:,.2f}%".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].astype(float).map("{:,.2f}%".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].astype(float).map("{:,.2f}%".format)

# Display Table
district_summary_table

,Total Schools,Total Number of Students,Total Budget,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,% Overall Passing Rate
0,15,"39,170.0","$24,649,428.00",82,85.81%,79,74.98%,80.39%

In [262]:
#Merge original data for school summary
school_summary = pd.merge(school_data, student_data, how="left", on=["school_name", "school_name"])
school_summary.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [263]:
# Find school type
school_summary = data_complete_df.groupby("school_name")
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [264]:
# Find average daily membership(ADM), aka total number of students per school
school_summary = data_complete_df.groupby("school_name")
school_ADM = school_summary["size"].count()
school_ADM

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [265]:
#Find the budget per school
school_summary = data_complete_df.groupby("school_name")
school_budget = school_data.set_index(["school_name"])["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [266]:
# Calculate budget per school per student
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["Per Student Budget"] = (school_summary["budget"] / school_summary["size"])
school_budget_pp = school_summary["Per Student Budget"]
school_budget_pp

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: Per Student Budget, dtype: float64

In [267]:
# Calculate average reading scores
school_summary = data_complete_df.groupby(["school_name"])
school_reading_score_avg = school_summary["reading_score"].mean()
school_reading_score_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [268]:
# Calculate average math scores
school_summary = data_complete_df.groupby(["school_name"])
school_math_score_avg = school_summary["math_score"].mean()
school_math_score_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [269]:
# Calculate number per school who have passed reading
# Calculate number per school who have passed reading
def passinggrade(score):
    return score >=70

data_complete_df["Passing Math"] = data_complete_df["math_score"].apply(passinggrade)
data_complete_df["Passing Reading"] = data_complete_df["reading_score"].apply(passinggrade)

# Group by schools and calculate number of students passing reading at each school
school_summary_reading = data_complete_df.groupby(["school_name", "Passing Reading"]).size().unstack()

# Group by schools and calculate number of students passing math at each school
school_summary_math = data_complete_df.groupby(["school_name", "Passing Math"]).size().unstack()
#school_number_passing_math = school_summary_math[["True_y"]]

# Merge
merged_scores = pd.merge(school_summary_reading, school_summary_math, on="school_name")

#Drop columns with 'False' value (not passing)
merged_passing_scores = merged_scores[["True_x" ,"True_y"]]

#Rename columns
merged_passing_scores = merged_passing_scores.rename(columns = {"True_x": "Number of Students Passing Reading", 
                                                               "True_y": "Number of Students Passing Math"})

merged_passing_scores

,Number of Students Passing Reading,Number of Students Passing Math
school_name,,
Bailey High School,4077,3318
Cabrera High School,1803,1749
Figueroa High School,2381,1946
Ford High School,2172,1871
Griffin High School,1426,1371
Hernandez High School,3748,3094
Holden High School,411,395
Huang High School,2372,1916
Johnson High School,3867,3145
Pena High School,923,910
Rodriguez High School,3208,2654
Shelton High School,1688,1653
Thomas High School,1591,1525
Wilson High School,2204,2143
Wright High School,1739,1680

In [270]:
#Calculate percentage of students passing reading
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["Percent of Students Passing Reading"] = (merged_passing_scores["Number of Students Passing Reading"] / school_summary["size"]) * 100
school_percent_passing_reading = school_summary["Percent of Students Passing Reading"]
school_percent_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Percent of Students Passing Reading, dtype: float64

In [271]:
#Calculate percentage of students passing math
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["Percent of Students Passing Math"] = (merged_passing_scores["Number of Students Passing Math"] / school_summary["size"]) * 100
school_percent_passing_math = school_summary["Percent of Students Passing Math"]
school_percent_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Percent of Students Passing Math, dtype: float64

In [272]:
# Calculate overall passing rate
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["% Overall Passing"] = (school_percent_passing_reading + school_percent_passing_math) / 2
school_percent_passing_overall = school_summary["% Overall Passing"]
school_percent_passing_overall

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: % Overall Passing, dtype: float64

In [273]:
# School Summary DataFrame
groupedby_school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Number of Students": school_ADM,
                               "Total School Budget": school_budget,
                               "Per Student Budget": school_budget_pp,
                               "Average Reading Score": round(school_reading_score_avg, 2),
                               "Average Math Score": round(school_math_score_avg, 2),
                               "% Passing Reading": round(school_percent_passing_reading, 2),
                               "% Passing Math": round(school_percent_passing_math, 2),
                               "% Overall Passing": round(school_percent_passing_overall, 2)})
# Format Table
groupedby_school_summary["Total Number of Students"] = groupedby_school_summary["Total Number of Students"].astype(float).map("{:,}".format)
groupedby_school_summary["Total School Budget"] = groupedby_school_summary["Total School Budget"].astype(float).map("${:,.2f}".format)
groupedby_school_summary["Per Student Budget"] = groupedby_school_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)
groupedby_school_summary["% Passing Reading"] = groupedby_school_summary["% Passing Reading"].astype(float).map("{:,.2f}%".format)
groupedby_school_summary["% Passing Math"] = groupedby_school_summary["% Passing Math"].astype(float).map("{:,.2f}%".format)
groupedby_school_summary["% Overall Passing"] = groupedby_school_summary["% Overall Passing"].astype(float).map("{:,.2f}%".format)


# Display
groupedby_school_summary

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Bailey High School,District,"4,976.0","$3,124,928.00",$628.00,81.03,77.05,81.93%,66.68%,74.31%
Cabrera High School,Charter,"1,858.0","$1,081,356.00",$582.00,83.98,83.06,97.04%,94.13%,95.59%
Figueroa High School,District,"2,949.0","$1,884,411.00",$639.00,81.16,76.71,80.74%,65.99%,73.36%
Ford High School,District,"2,739.0","$1,763,916.00",$644.00,80.75,77.10,79.30%,68.31%,73.80%
Griffin High School,Charter,"1,468.0","$917,500.00",$625.00,83.82,83.35,97.14%,93.39%,95.27%
Hernandez High School,District,"4,635.0","$3,022,020.00",$652.00,80.93,77.29,80.86%,66.75%,73.81%
Holden High School,Charter,427.0,"$248,087.00",$581.00,83.81,83.80,96.25%,92.51%,94.38%
Huang High School,District,"2,917.0","$1,910,635.00",$655.00,81.18,76.63,81.32%,65.68%,73.50%
Johnson High School,District,"4,761.0","$3,094,650.00",$650.00,80.97,77.07,81.22%,66.06%,73.64%
Pena High School,Charter,962.0,"$585,858.00",$609.00,84.04,83.84,95.95%,94.59%,95.27%
Rodriguez High School,District,"3,999.0","$2,547,363.00",$637.00,80.74,76.84,80.22%,66.37%,73.29%
Shelton High School,Charter,"1,761.0","$1,056,600.00",$600.00,83.73,83.36,95.85%,93.87%,94.86%
Thomas High School,Charter,"1,635.0","$1,043,130.00",$638.00,83.85,83.42,97.31%,93.27%,95.29%
Wilson High School,Charter,"2,283.0","$1,319,574.00",$578.00,83.99,83.27,96.54%,93.87%,95.20%
Wright High School,Charter,"1,800.0","$1,049,400.00",$583.00,83.96,83.68,96.61%,93.33%,94.97%

In [274]:
#Highlight the 5 highest-performing schools based on Overall Passing Rate
hp_five_schools = groupedby_school_summary.sort_values(["% Overall Passing"], ascending=False)
hp_five_schools.head()

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Cabrera High School,Charter,"1,858.0","$1,081,356.00",$582.00,83.98,83.06,97.04%,94.13%,95.59%
Thomas High School,Charter,"1,635.0","$1,043,130.00",$638.00,83.85,83.42,97.31%,93.27%,95.29%
Griffin High School,Charter,"1,468.0","$917,500.00",$625.00,83.82,83.35,97.14%,93.39%,95.27%
Pena High School,Charter,962.0,"$585,858.00",$609.00,84.04,83.84,95.95%,94.59%,95.27%
Wilson High School,Charter,"2,283.0","$1,319,574.00",$578.00,83.99,83.27,96.54%,93.87%,95.20%

In [275]:
#Highlight the 5 lowest-performing schools based on Overall Passing Rate
lp_five_schools = groupedby_school_summary.sort_values(["% Overall Passing"], ascending=True)
lp_five_schools.head()

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Rodriguez High School,District,"3,999.0","$2,547,363.00",$637.00,80.74,76.84,80.22%,66.37%,73.29%
Figueroa High School,District,"2,949.0","$1,884,411.00",$639.00,81.16,76.71,80.74%,65.99%,73.36%
Huang High School,District,"2,917.0","$1,910,635.00",$655.00,81.18,76.63,81.32%,65.68%,73.50%
Johnson High School,District,"4,761.0","$3,094,650.00",$650.00,80.97,77.07,81.22%,66.06%,73.64%
Ford High School,District,"2,739.0","$1,763,916.00",$644.00,80.75,77.10,79.30%,68.31%,73.80%

In [276]:
# Create a series that lists the avg reading score for each grade grouped by school.
ninth_gr_read = student_data[student_data["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_gr_read = student_data[student_data["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_gr_read = student_data[student_data["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelveth_gr_read = student_data[student_data["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

# Combine the series into a dataframe
grade_read_dataframe = pd.DataFrame({"Ninth Grade":ninth_gr_read, "Tenth Grade":tenth_gr_read, 
                                     "Eleventh Grade":eleventh_gr_read, "Twelveth Grade":twelveth_gr_read})            

# Formatting: Give the displayed data cleaner formatting
grade_read_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = grade_read_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display
grade_read_dataframe

                      Ninth Grade Tenth Grade Eleventh Grade Twelveth Grade
school_name
Bailey High School          81.30       80.91          80.95          80.91
Cabrera High School         83.68       84.25          83.79          84.29
Figueroa High School        81.20       81.41          80.64          81.38
Ford High School            80.63       81.26          80.40          80.66
Griffin High School         83.37       83.71          84.29          84.01
Hernandez High School       80.87       80.66          81.40          80.86
Holden High School          83.68       83.32          83.82          84.70
Huang High School           81.29       81.51          81.42          80.31
Johnson High School         81.26       80.77          80.62          81.23
Pena High School            83.81       83.61          84.34          84.59
Rodriguez High School       80.99       80.63          80.86          80.38
Shelton High School         84.12       83.44          84.37          82.78
Thomas High School          83.73       84.25          83.59          83.83
Wilson High School          83.94       84.02          83.76          84.32
Wright High School          83.83       83.81          84.16          84.07

In [277]:
# Create a series that lists the avg math score for each grade grouped by school.
ninth_gr_math = student_data[student_data["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_gr_math = student_data[student_data["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_gr_math = student_data[student_data["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelveth_gr_math = student_data[student_data["grade"] == "12th"].groupby("school_name").mean()["math_score"]

# Combine the series into a dataframe
grade_math_dataframe = pd.DataFrame({"Ninth Grade":ninth_gr_math, "Tenth Grade":tenth_gr_math, 
                                     "Eleventh Grade":eleventh_gr_math, "Twelveth Grade":twelveth_gr_math})            

# Formatting: Give the displayed data cleaner formatting
grade_math_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = grade_math_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display
grade_math_dataframe

                      Ninth Grade Tenth Grade Eleventh Grade Twelveth Grade
school_name
Bailey High School          77.08       77.00          77.52          76.49
Cabrera High School         83.09       83.15          82.77          83.28
Figueroa High School        76.40       76.54          76.88          77.15
Ford High School            77.36       77.67          76.92          76.18
Griffin High School         82.04       84.23          83.84          83.36
Hernandez High School       77.44       77.34          77.14          77.19
Holden High School          83.79       83.43          85.00          82.86
Huang High School           77.03       75.91          76.45          77.23
Johnson High School         77.19       76.69          77.49          76.86
Pena High School            83.63       83.37          84.33          84.12
Rodriguez High School       76.86       76.61          76.40          77.69
Shelton High School         83.42       82.92          83.38          83.78
Thomas High School          83.59       83.09          83.50          83.50
Wilson High School          83.09       83.72          83.20          83.04
Wright High School          83.26       84.01          83.84          83.64

In [280]:
# Create a table that breaks down school performances based on school budget per student.
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["Per Student Budget"] = (school_summary["budget"] / school_summary["size"])
school_budget_pp = school_summary["Per Student Budget"]
school_budget_pp

print(school_summary["Per Student Budget"].max())
print(school_summary["Per Student Budget"].min())

budget_bins = [0, 585, 615, 645, 675]
budget_group_names = ["$555-$584", "$585-614", "$615-644", "$645-675"]
pd.cut(school_summary["Per Student Budget"], budget_bins, labels=budget_group_names)

#Add Budget Range Per Student to dataframe
groupedby_school_summary["Budget Range Per Student"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_labels)
groupedby_school_summary.head()

655.0
578.0

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing,Budget Range Per Student
Bailey High School,District,"4,976.0","$3,124,928.00",$628.00,81.03,77.05,81.93%,66.68%,74.31%,$615-645
Cabrera High School,Charter,"1,858.0","$1,081,356.00",$582.00,83.98,83.06,97.04%,94.13%,95.59%,<$585
Figueroa High School,District,"2,949.0","$1,884,411.00",$639.00,81.16,76.71,80.74%,65.99%,73.36%,$615-645
Ford High School,District,"2,739.0","$1,763,916.00",$644.00,80.75,77.10,79.30%,68.31%,73.80%,$615-645
Griffin High School,Charter,"1,468.0","$917,500.00",$625.00,83.82,83.35,97.14%,93.39%,95.27%,$615-645

In [281]:
# Include reading and math scores per school
summary_with_school_budget = groupedby_school_summary[["Budget Range Per Student", 
                                             "Average Reading Score", "Average Math Score", "% Passing Reading", 
                                             "% Passing Math", "% Overall Passing"]]

# Create a GroupBy object based upon "Budget Range Per Student"
scores_groupedby_school_budget = summary_with_school_budget.groupby("Budget Range Per Student")
scores_groupedby_school_budget[["Average Reading Score", "Average Math Score", "% Passing Reading", 
                                "% Passing Math", "% Overall Passing"]].mean()

                          Average Reading Score  Average Math Score
Budget Range Per Student
<$585                                 83.935000           83.452500
$585-615                              83.885000           83.600000
$615-645                              81.891667           79.078333
$645-675                              81.026667           76.996667

In [282]:
# Create a table that breaks down school performances based on school size.
# Find min and max of average daily membership (ADM) to get parameters for the bin
print(school_summary["size"].max())
print(school_summary["size"].min())

# Create bins in which to place values, then create labels for the bins
ADM_bins = [0, 500, 2000, 3500, 5000]
ADM_group_labels = ["<500", "500-2,000", "2,000-3,500", "3,500-5,000"]
pd.cut(school_summary["size"], ADM_bins, labels=ADM_group_labels)

#Add ADM Ranges Per School to dataframe
groupedby_school_summary["School ADM - Range"] = pd.cut(school_summary["size"], ADM_bins, labels=ADM_group_labels)
groupedby_school_summary.head()

4976.0
427.0

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing,Budget Range Per Student,School ADM - Range
Bailey High School,District,"4,976.0","$3,124,928.00",$628.00,81.03,77.05,81.93%,66.68%,74.31%,$615-645,"3,500-5,000"
Cabrera High School,Charter,"1,858.0","$1,081,356.00",$582.00,83.98,83.06,97.04%,94.13%,95.59%,<$585,"500-2,000"
Figueroa High School,District,"2,949.0","$1,884,411.00",$639.00,81.16,76.71,80.74%,65.99%,73.36%,$615-645,"2,000-3,500"
Ford High School,District,"2,739.0","$1,763,916.00",$644.00,80.75,77.10,79.30%,68.31%,73.80%,$615-645,"2,000-3,500"
Griffin High School,Charter,"1,468.0","$917,500.00",$625.00,83.82,83.35,97.14%,93.39%,95.27%,$615-645,"500-2,000"

In [284]:
# Include scores per school
summary_with_school_size = groupedby_school_summary[["School ADM - Range", "Average Reading Score", "Average Math Score", "% Passing Reading", "% Passing Math", "% Overall Passing"]]

# Create a GroupBy object based upon "School ADM - Range"
scores_groupedby_school_size = summary_with_school_size.groupby("School ADM - Range")
scores_groupedby_school_size[["Average Reading Score", "Average Math Score", "% Passing Reading", "% Passing Math", "% Overall Passing"]].mean()

                    Average Reading Score  Average Math Score
School ADM - Range
<500                            83.810000           83.800000
500-2,000                       83.896667           83.451667
2,000-3,500                     81.770000           78.427500
3,500-5,000                     80.917500           77.062500

In [287]:
# Create a GroupBy object based on school type
scores_groupedby_school_type = groupedby_school_summary.groupby("School Type")
scores_groupedby_school_type[["Average Reading Score", "Average Math Score", "% Passing Reading", 
                                "% Passing Math", "% Overall Passing"]].mean()

             Average Reading Score  Average Math Score
School Type
Charter                  83.897500           83.472500
District                 80.965714           76.955714