In [112]:
# Dependencies
import pandas as pd

In [113]:
# Load files
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [114]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [115]:
# Combine the data into a single dataframe
data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [116]:
# Calculate the total number of schools
total_number_schools = len(school_data["School ID"].unique())
total_number_schools

15

In [117]:
# Calculate the total number of students
total_number_students = len(student_data["Student ID"].unique())
total_number_students

39170

In [118]:
# Combined budget of all schools
total_budget = school_data["budget"].sum()
total_budget

24649428

In [119]:
# Calculate the average Reading score
reading_score_avg = student_data["reading_score"].mean()
reading_score_avg

81.87784018381414

In [120]:
# Calculate the average Math score
math_score_avg = student_data["math_score"].mean()
math_score_avg

78.98537145774827

In [121]:
# Calculate the number and percent passing in reading (assuming a score <69 is an F)
number_passing_reading = len(student_data.loc[student_data['reading_score'] >= 70 , :])
number_passing_reading

percent_passing_reading = (number_passing_reading / total_number_students)*100
percent_passing_reading

85.80546336482001

In [122]:
# Calculate the number and percent passing in math (assuming a score <69 is an F)
number_passing_math = len(student_data.loc[student_data['math_score'] >= 70 , :])
number_passing_math

percent_passing_math = (number_passing_math / total_number_students)*100
percent_passing_math

74.9808526933878

In [123]:
# Calculate the overall passing rate i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (percent_passing_reading + percent_passing_math)/2
overall_passing_rate

80.39315802910392

In [124]:
# Create a high level snapshot (in table form) of the district's key metrics
district_summary = [{
        "Total Schools": total_number_schools, 
        "Total Number of Students": total_number_students, 
        "Total Budget": total_budget, 
        "Average Reading Score": round(reading_score_avg),
        "% Passing Reading": percent_passing_reading,
        "Average Math Score": round(math_score_avg),
        "% Passing Math": percent_passing_math,
        "% Overall Passing Rate": overall_passing_rate}]
district_summary_table = pd.DataFrame(district_summary)       

# Format Table
district_summary_table["Total Number of Students"] = district_summary_table["Total Number of Students"].astype(float).map("{:,}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].astype(float).map("{:,.2f}%".format)
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].astype(float).map("{:,.2f}%".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].astype(float).map("{:,.2f}%".format)

# Display Table
district_summary_table

,Total Schools,Total Number of Students,Total Budget,Average Reading Score,% Passing Reading,Average Math Score,% Passing Math,% Overall Passing Rate
0,15,"39,170.0","$24,649,428.00",82,85.81%,79,74.98%,80.39%

In [377]:
#Merge original data for school summary
school_summary = pd.merge(school_data, student_data, how="left", on=["school_name", "school_name"])
school_summary

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [400]:
# Find school type
school_summary = data_complete_df.groupby("school_name")
school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [404]:
# Find average daily membership(ADM), aka total number of students per school
school_summary = data_complete_df.groupby("school_name")
school_ADM = school_summary["size"].count()
school_ADM

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [405]:
#Find the budget per school
school_summary = data_complete_df.groupby("school_name")
school_budget = school_data.set_index(["school_name"])["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [406]:
# Calculate budget per school per student
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["Per Student Budget"] = (school_summary["budget"] / school_summary["size"])
school_budget_pp = school_summary["Per Student Budget"]
school_budget_pp

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: Per Student Budget, dtype: float64

In [407]:
# Calculate average reading scores
school_summary = data_complete_df.groupby(["school_name"])
school_reading_score_avg = school_summary["reading_score"].mean()
school_reading_score_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [408]:
# Calculate average math scores
school_summary = data_complete_df.groupby(["school_name"])
school_math_score_avg = school_summary["math_score"].mean()
school_math_score_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [409]:
# Calculate percent of students in school passing in reading
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["% Passing Reading"] = round(school_summary["passing_reading"]*100,2)
school_percent_passing_reading = school_summary["% Passing Reading"]
school_percent_passing_reading

school_name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
Name: % Passing Reading, dtype: float64

In [410]:
# Calculate percent of students in school passing in math
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["% Passing Math"] = round(school_summary["passing_math"]*100,2)
school_percent_passing_math = school_summary["% Passing Math"]
school_percent_passing_math

school_name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
Name: % Passing Math, dtype: float64

In [411]:
# Calculate overall passing rate
school_summary = data_complete_df.groupby(["school_name"]).mean()
school_summary["% Overall Passing"] = round(((school_summary["passing_reading"] + school_summary["passing_math"])/2)*100,3)
school_percent_passing_overall = school_summary["% Overall Passing"]
school_percent_passing_overall

school_name
Bailey High School       74.307
Cabrera High School      95.587
Figueroa High School     73.364
Ford High School         73.804
Griffin High School      95.266
Hernandez High School    73.808
Holden High School       94.379
Huang High School        73.500
Johnson High School      73.640
Pena High School         95.270
Rodriguez High School    73.293
Shelton High School      94.861
Thomas High School       95.291
Wilson High School       95.204
Wright High School       94.972
Name: % Overall Passing, dtype: float64

In [423]:
# School Summary DataFrame
school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Number of Students": school_ADM,
                               "Total School Budget": school_budget,
                               "Per Student Budget": school_budget_pp,
                               "Average Reading Score": round(school_reading_score_avg, 2),
                               "Average Math Score": round(school_math_score_avg, 2),
                               "% Passing Reading": round(school_percent_passing_reading, 2),
                               "% Passing Math": round(school_percent_passing_math, 2),
                               "% Overall Passing": round(school_percent_passing_overall, 2)})
# Format Table
school_summary["Total Number of Students"] = school_summary["Total Number of Students"].astype(float).map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].astype(float).map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].astype(float).map("{:,.2f}%".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].astype(float).map("{:,.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].astype(float).map("{:,.2f}%".format)


# Display
school_summary

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
Bailey High School,District,"4,976.0","$3,124,928.00",$628.00,81.03,77.05,81.93%,66.68%,74.31%
Cabrera High School,Charter,"1,858.0","$1,081,356.00",$582.00,83.98,83.06,97.04%,94.13%,95.59%
Figueroa High School,District,"2,949.0","$1,884,411.00",$639.00,81.16,76.71,80.74%,65.99%,73.36%
Ford High School,District,"2,739.0","$1,763,916.00",$644.00,80.75,77.10,79.30%,68.31%,73.80%
Griffin High School,Charter,"1,468.0","$917,500.00",$625.00,83.82,83.35,97.14%,93.39%,95.27%
Hernandez High School,District,"4,635.0","$3,022,020.00",$652.00,80.93,77.29,80.86%,66.75%,73.81%
Holden High School,Charter,427.0,"$248,087.00",$581.00,83.81,83.80,96.25%,92.51%,94.38%
Huang High School,District,"2,917.0","$1,910,635.00",$655.00,81.18,76.63,81.32%,65.68%,73.50%
Johnson High School,District,"4,761.0","$3,094,650.00",$650.00,80.97,77.07,81.22%,66.06%,73.64%
Pena High School,Charter,962.0,"$585,858.00",$609.00,84.04,83.84,95.95%,94.59%,95.27%
Rodriguez High School,District,"3,999.0","$2,547,363.00",$637.00,80.74,76.84,80.22%,66.37%,73.29%
Shelton High School,Charter,"1,761.0","$1,056,600.00",$600.00,83.73,83.36,95.85%,93.87%,94.86%
Thomas High School,Charter,"1,635.0","$1,043,130.00",$638.00,83.85,83.42,97.31%,93.27%,95.29%
Wilson High School,Charter,"2,283.0","$1,319,574.00",$578.00,83.99,83.27,96.54%,93.87%,95.20%
Wright High School,Charter,"1,800.0","$1,049,400.00",$583.00,83.96,83.68,96.61%,93.33%,94.97%